#employers-profile .rt-TextFieldRoot {
    background: black;
    border: 1px solid white;
    color: white;
}

#employers-profile .company-card {
    border: 2px solid var(--gray-600);
    border-radius: 10px;
    color: white;
    transition: background 0.3s ease, color 0.3s ease;
}

#employers-profile .company-card:hover {
    background: var(--gray-600);
    color: black;
    border-color: white;
}

#employers-profile .company-card h1 {
    font-size: 17px;
    white-space: nowrap; /* Correct property */
    overflow: hidden; /* Ensure overflow is hidden */
    text-overflow: ellipsis;
}

#employers-profile .company-card strong {
    font-size: 13px;
}

#employers-profile .company-card .button {
    background: transparent;
    border: 1px solid white;
}

#employers-profile .company-card .button:hover {
    background: white;
    color: black;
}

#employers-profile .company-card .button.danger {
    border: 1px solid tomato;
    color: tomato;
}

#employers-profile .company-card .button.danger:hover {
    background: tomato;
    color: white;
}
