#create-job-ad .form-container h1 {
    font-size: 26px;
}

#create-job-ad .form-container strong {
    font-weight: 600;
    font-size: 23px;
}

#create-job-ad .form-container label {
    font-weight: 600;
    font-size: 18px;
}

#create-job-ad .form-container .form-details-container {
    padding: 20px;
    background: white;
}

#create-job-ad .suggested-skill-container {
    padding: 5px 15px;
    border-radius: 30px;
    background: var(--blue-300);
    cursor: pointer;
    color: var(--blue-700);
}

#create-job-ad .added-skill-container {
    padding: 5px 15px;
    border-radius: 30px;
    background: var(--gray-300);
    cursor: pointer;
}
