#employer-details .employer-background {
    height: 300px;
    width: 100%; /* Makes the box span the full width */
    background-size: cover; /* Ensures the image fully covers the box */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    border-radius: 17px;
}

#employer-details .rt-SegmentedControlRoot {
    background: black;
    color: white;
}

#employer-details .rt-SegmentedControlRoot button[data-state="on"] {
    background: white;
    color: black;
}

#employer-details .cursor {
    cursor: pointer;
}

#employer-details h1 {
    font-size: 26px;
    font-weight: 500;
}

#employer-details p {
    font-size: 20px;
    font-weight: 400;
}

#employer-details label {
    color: var(--gray-700);
}

#employer-details .rt-BaseButton {
    padding: 20px;
}

#employer-details strong {
    font-size: 18px;
    font-weight: 500;
}

#employer-details .employer-profile-container {
    border-radius: 10px;
    border: 4px solid var(--gray-400);
    padding: 15px;
}

#employer-details .employer-profile-container h1 {
    font-size: 23px;
}

/* employer-about */
#employer-about p {
    font-size: 20px;
}

#employer-about strong {
    font-size: 17px;
}

/* employer-jobs */
#employer-jobs .rt-TextFieldRoot {
    background-color: black;
    border: 1px solid white;
    color: white;
}

#employer-jobs .jobs-count strong {
    font-size: 20px;
    font-weight: 800;
}

#employer-jobs .job-card {
    border: 3px solid var(--gray-400);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

#employer-jobs .job-card:hover {
    color: white;
    background: black;
    transition: background 0.3s ease, color 0.3s ease;
}

#employer-jobs .job-card:hover label {
    color: var(--gray-400);
}

/* employer-reviews */
#employer-reviews .review-overview-card {
    border: 3px solid var(--gray-400);
    padding: 20px 40px;
    border-radius: 14px;
}

#employer-reviews .review-overview-card h1 {
    font-size: 27px;
}

#employer-reviews .review-overview-card strong {
    font-size: 16px;
}

#employer-reviews .review-overview-card p {
    font-size: 16px;
}

#employer-reviews .user-review-card {
    border: 3px solid var(--gray-400);
    padding: 20px;
    border-radius: 14px;
}

#employer-reviews .user-review-card p {
    font-size: 18px;
}

#employer-reviews .user-review-card strong {
    font-size: 16px;
}

#employer-reviews .user-review-card h1 {
    font-size: 22px;
}
