#layout-header {
    position: sticky;
    background: #ffffff;
    width: 100vw;
    height: 60px;
    z-index: 9999;
    padding: 20px 70px;
    box-shadow: var(--elevation-low);
    font-size: 18px;
}

.dark-theme-layout {
    background-color: var(--black-700);
    color: white;
}

#layout-header button {
    cursor: pointer;
}

#layout-header .page-options .option {
    cursor: pointer;
    padding: 2px;
    color: black;
}

#layout-header .page-options .option.selected {
    border-bottom: 2px solid black;
    color: black;
}

#layout-header.dark-theme-header {
    background-color: var(--black-700);
    color: white;
    border-bottom: 1px solid white;
}

#layout-header.dark-theme-header .option {
    color: var(--gray-500) !important;
}

#layout-header.dark-theme-header .option.selected {
    border-bottom: 2px solid white;
    color: white !important;
}

#user-option-popover {
    padding: 0px;
}

#user-option-popover .option {
    cursor: pointer;
    padding: 10px;
}

#user-option-popover .option:hover {
    background: black;
    color: white;
}

#user-option-popover .option.danger {
    color: red;
}

#user-option-popover .option.danger:hover {
    color: white;
    background: red;
}

#company-entry p {
    visibility: hidden; /* Hide the element */
    opacity: 0; /* Make it transparent */
    transition: visibility 0s 0.3s, opacity 0.3s linear; /* Delay visibility change */
}

#company-entry:hover p {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Make it opaque */
    transition-delay: 0s; /* Remove delay for showing */
    cursor: pointer;
}
