.sx-react-calendar-wrapper {
    width: 100%;
    max-width: 100vw;
    height: 800px;
    max-height: 90vh;
}

.sx__time-grid-event {
    
}



.test {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    background-color: black;
}

.test button {
    background-color: white;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 30px;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}
