#employer-registration {
    background: var(--registration-form-background);
    padding-bottom: 60px;
}

#employer-registration .form-container {
    width: 600px;
    margin-top: 40px;
}

#employer-registration .form-container h1 {
    font-size: 26px;
}

#employer-registration .form-container strong {
    font-weight: 600;
    font-size: 23px;
}

#employer-registration .form-container label {
    font-weight: 600;
    font-size: 18px;
}

#employer-registration .form-container .form-details-container {
    margin-top: 20px;
    padding: 20px;
    background: white;
}
