@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer !important;
}

.text-link {
    color: var(--blue-700);
}

.text-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}
